html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensures the body covers the viewport */
    width: 100%; /* Ensures the body covers the viewport */
    overflow: hidden; /* Prevents scrollbars from appearing */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of columns when necessary */
    height: 90%; 
    width: 90%; 
    border: solid black 2px;
    box-sizing: border-box; /* Ensures borders don't affect dimensions */
}


.columns {
    display: flex;
    flex-direction: column; /* Stacks cells vertically */
    flex: 1;
}

.cells {
    flex: 1; 
    box-sizing: border-box; /* Ensures borders don't affect size */
    transition: background-color 0.5s ease;
}

.cells:hover{
    background-color: blue;
}